.contact-statusbar {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  padding: 0;
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
}
.contact-statusbar .progress-arrow {
  text-align: center;
}
