{% load static %}
<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Custodia S.R.L.{% endblock %}</title>
    </head>
    {% endblock %}
    <body>
        {% block body %}
        {% endblock %}

        {% block css %}
        <link rel="stylesheet" href="{% static 'lib/bootstrap-4.3.1/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'lib/mdbootstrap-4.8.8/css/mdb.min.css' %}">
        <link rel="stylesheet" href="{% static 'lib/fontawesome-5.10.1/css/all.css' %}">
        {% endblock %}
        {% block js %}
        <script src="{% static 'lib/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap-4.3.1/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'lib/mdbootstrap-4.8.8/js/mdb.min.js' %}"></script>
        {% endblock %}
    </body>
</html>
