{% extends "base.html" %}
{% load static crispy_forms_tags compile_static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'contact/less/contact_form.less'|compile %}">
    <link rel="stylesheet" href="{% static 'contact/less/statusbar.less'|compile %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'contact/js/contact_form.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="contact-description col-12">
            <p>{% lorem  %}<p>
        </div>
    </div>
    <div class="row">
        <div class="form-container col-12">
            <div class="container form-main col-11">
                <div class="row">
                    <div class="statusbar-wrapper col-12">
                        {% include 'contact/statusbar.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-wrapper col-12">
                        {% crispy form form.helper %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
