{% extends "base.html" %}
{% load static crispy_forms_tags compile_static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'contact/less/contact_form.less'|compile %}">
    <link rel="stylesheet" href="{% static 'contact/less/statusbar.less'|compile %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'contact/js/contact_form.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="contact-description col-12">
            <p>{% lorem  %}<p>
        </div>
    </div>
    <div class="row">
        <div class="form-container col-12">
            <div class="container form-main col-11">
                <div class="row">
                    <div class="statusbar-wrapper col-12">
                        {% include 'contact/statusbar.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="loaded-experiences-container col-12 container-fluid">
                        {% for exp in laboral_experiences %}
                        <div class="col-12 col-md-2 laboral-exp-cont d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">{{ exp.company_name }}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="container col-10 form-wrapper">
                        {% crispy form form.helper %}
                    </div>
                </div>
                <div class="row">
                    <div class="next-step-btn float-sm-right ml-auto col-12">
                        <button type="button" name="next_step" value="Next Step" class="btn btn-primary float-right" id="submit-id-next_step">Next</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
