<ul>
    <li><a href="{% url 'contact:contact_list' %}">Contacts</a></li>
    <li><a href="{% url 'contact:country_list' %}">Countries</a></li>
    <li><a href="{% url 'contact:state_list' %}">States</a></li>
</ul>
