<div class="contact-statusbar progress col-md-12">
    <div class="progress-bar bg-success progress-arrow col-md-3 col-12">
        <span>Información Personal</span>
    </div>
    <div class="progress-bar bg-info progress-arrow col-md-3 col-12">
        <span>Experiencias Laborales</span>
    </div>
    <div class="progress-bar bg-warning progress-arrow col-md-3 col-12">
        <span>Estudios</span>
    </div>
    <div class="progress-bar bg-alert progress-arrow col-md-3 col-12">
        <span>Finalizado</span>
    </div>
</div>
