.form-container {
    background: url("https://www.custodiasrl.com.ar/web/wp-content/uploads/2016/07/h1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1em;
    border-radius: 0.5em;

    .form-main {
        padding: 2em;
        margin-top: 3em;
        margin-bottom: 3em;
        border: 1em;
        border-radius: 2em;
        background: rgba(255, 255, 255, 0.9) no-repeat center center fixed;
        background-origin: content-box;

    }
}

.form-group {
    label {
        left: auto;
        transform: translateY(-1em);
        -webkit-transform: translateY(-1em);
    }
    label.active {
        transform: translateY(-1.2em) scale(.8);
        -webkit-transform: translateY(-1.2em) scale(.8);
    }
    input {
        width: 100%;
    }
}

.md-form {
    input[type="text"],
    input[type="email"]{
        border-bottom: 1px solid rgba(15, 15, 15, 0.75);
    }
    select.form-control {
        padding: 0.15em;
        margin: 0;
        border: none;
        border-bottom: 1px solid rgba(15, 15, 15, 0.75);
        box-sizing: content-box;
        background-color: transparent;
    }
}

.form-wrapper {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1em;
    border-radius: 1em;
    background: rgba(255, 255, 255, 1) no-repeat center center fixed;
    background-origin: content-box;
}

.loaded-experiences-container {
    text-align: center;

    .laboral-exp-cont {
        padding: 0.25em;
    }
}
