.contact-statusbar {
    height: 3em;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    padding: 0;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;

    .progress-arrow {
        text-align: center;
    }
    // .progress-arrow:before,
    // .progress-arrow:after {
    //     content: "";
    //     position: absolute;
    //     transition: all 0.8s;
    //     z-index:-1;
    // }
    // .progress-arrow:before {
    //     height: 50%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     background: inherit;
    //     -webkit-transform: skew(45deg);
    //     -moz-transform: skew(45deg);
    //     transform: skew(45deg);
    // }
    // .progress-arrow:after {
    //     height: 50%;
    //     width: 100%;
    //     top: 50%;
    //     left: 0;
    //     background: inherit;
    //     -webkit-transform: skew(-45deg);
    //     -moz-transform: skew(-45deg);
    //     transform: skew(-45deg);
    // }
}
